.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .col-md-6:first-child {
    padding-right: 40px;
    padding-bottom: 40px;
  }

  p {
    font-size: 1rem;
  }

  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 5px;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }

  .form-control {
    flex: 1;
    border: 1.5px solid $blue;
    border-radius: 5px;
    padding: 9px;
    color: $light-blue;
  }

  .custom-btn {
    background-color: $blue;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    border: none;

    &:hover, &:focus {
      background-color: $light-blue;
      transform: scale(1.05);
      outline: 3px solid $pink;
      outline-offset: 2px;
    }
  }

  .text-x {
    font-size: 0.9rem;
    color: $pink !important;
  }

  .form-label.text-muted {
    font-size: 0.875rem; /* Plus petit */
    color: #6c757d; /* Gris discret */
    display: block; /* S'assurer qu'il est bien positionné */
    margin-bottom: 4px; /* Un petit espace au-dessus du champ */
  }

  .form-control.custom-placeholder {
    background-color: #fff; /* Fond blanc explicite */
    color: #000; /* Texte noir pour un bon contraste */
  }


}
