<footer class="bg-light pt-3 text-center" role="contentinfo">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <img src="<%= asset_path('logo.png') %>" alt="Logo du site AccessNum" class="logo me-2" style="height: 40px;" />
      <strong>AccessNum, à vous de voir</strong>
    </div>

    <!-- Zone de navigation pour les liens sociaux -->
    <nav aria-label="Liens sociaux">
      <ul class="list-unstyled d-inline-flex gap-2" style="margin-bottom: 0;">
        <li><a href="https://github.com/HDemanet" target="_blank" aria-label="Accédez au GitHub d'AccessNum" title="GitHub AccessNum">
            <i class="fab fa-github" aria-hidden="true"></i> GitHub
          </a></li>
        <li><a href="https://www.linkedin.com/in/hélène-demanet" target="_blank" aria-label="Accédez au LinkedIn d'AccessNum" title="LinkedIn AccessNum">
            <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
          </a></li>
      </ul>
    </nav>

    <!-- Zone de navigation pour les liens supplémentaires -->
    <nav aria-label="Navigation footer">
      <ul class="list-unstyled d-inline-flex gap-2">
        <li><a href="/plan-du-site" aria-label="Accédez au plan du site" title="Plan du site">Plan du site</a></li>
        <li><a href="/mentions-legales" aria-label="Accédez aux mentions légales" title="Mentions légales">Mentions légales</a></li>
        <li><a href="/accessibilite" aria-label="Accédez à la déclaration d’accessibilité" title="Déclaration d’accessibilité">Accessibilité</a></li>
      </ul>
    </nav>
  </div>
</footer>

<style>
  footer a, footer p {
    font-size: 12px;
  }
  footer p {
    line-height: 0;
  }
  footer a {
    color: #031640 !important;
    text-decoration: none !important;
  }
  footer a:hover, footer a:focus {
    text-decoration: underline !important;
  }
</style>
