<footer class="bg-light pt-3 text-center">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <img src="<%= asset_path('logo.png') %>" alt="Logo du site AccessNum" class="logo me-2" style="height: 40px;">
      <strong>AccessNum, à vous de voir</strong>
    </div>
    <p>
      <a href="https://github.com/HDemanet" target="_blank" aria-label="GitHub AccessNum">
        <i class="fab fa-github"></i> GitHub
      </a> |
      <a href="https://www.linkedin.com/in/hélène-demanet" target="_blank" aria-label="LinkedIn AccessNum">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </p>
    <p>
      <a href="/plan-du-site" aria-label="Plan du site">Plan du site</a> |
      <a href="/mentions-legales" aria-label="Mentions légales">Mentions légales</a> |
      <a href="/accessibilite" aria-label="Déclaration d’accessibilité">Accessibilité</a> |
    </p>
  </div>
</footer>

<style>
  footer a, footer p {
    font-size: 12px;
  }
  footer p {
    line-height: 0;
  }
  footer a {
    color: #031640 !important;
    text-decoration: none !important;
  }
  footer a:hover, footer a:focus {
    text-decoration: underline !important;
  }
</style>
