<div class="home-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold">AccessNum, à vous de voir</h1>
      <p class="lead">
        Découvrez comment un site est perçu par différents utilisateurs.<br>
        En saisissant une URL, vous pourrez simuler diverses situations et comprendre l'importance d'avoir des sites web accessibles à tous !
      </p>

      <%= form_tag simulate_path, method: :get, class: "mt-4" do %>
        <div class="input-group d-flex align-items-center gap-2">
          <label for="url" class="visually-hidden">URL du site web</label>
          <%= text_field_tag :url, params[:url], class: "form-control custom-placeholder",
              aria: { describedby: "urlHelp" } %>
          <button class="btn custom-btn" type="submit">Simuler</button>
        </div>
        <small id="urlHelp" class="form-text text-x">Veuillez entrer une URL valide.</small>
      <% end %>

    </div>

    <div class="col-md-6">
      <img src="<%= asset_path('illustration.png') %>" alt="Illustration de l'accessibilité numérique" class="img-fluid">
    </div>
  </div>
</div>
