<div class="home-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold">AccessNum, à vous de voir</h1>
      <p class="lead">
        Le numérique devrait être une porte ouverte pour tous, pas un obstacle. Pourtant, de nombreux utilisateurs font face à des barrières invisibles chaque jour sur Internet.<br>
        <br>
        Entrez une URL et vivez une expérience unique ! Découvrez comment un site est perçu par différents utilisateurs. <br>
        Une sensibilisation interactive et concrète à l'importance de l'accessibilité numérique.
      </p>

      <%= form_tag simulate_path, method: :get, class: "mt-4" do %>
        <div class="input-group d-flex align-items-center gap-2">
          <label for="url" class="visually-hidden">URL du site web</label>
          <%= text_field_tag :url, params[:url], class: "form-control custom-placeholder",
              aria: { describedby: "urlHelp" } %>
          <button class="btn custom-btn" type="submit">Simuler</button>
        </div>
        <small id="urlHelp" class="form-text text-x">
          AccessNum n'est pas un moteur de recherche.<br>
          Il est essentiel d'indiquer l'adresse URL complète, par exemple:
          <code>https://www.rtbf.be/</code> et non seulement <code>rtbf.be</code>.
        </small>
      <% end %>

    </div>

    <div class="col-md-6">
      <img src="<%= asset_path('illustration.png') %>" alt="Illustration de l'accessibilité numérique" class="img-fluid">
    </div>
  </div>
</div>
