<% content_for :title, "À propos - Hélène et son engagement pour l'accessibilité numérique" %>
<% content_for :meta_description, "Découvrez le parcours d'Hélène, logopède et développeuse web, et son engagement pour un web plus accessible à travers son projet de sensibilisation." %>

<h1 style="margin-bottom: 20px;" id="welcome-title">Bonjour et bienvenue sur mon site !</h1>
<p>
  Je m'appelle <strong>Hélène</strong>, et mon parcours est un mélange entre la sensibilité, la communication et la technologie.<br>
  De formation, je suis <strong>logopède</strong> (orthophoniste en France), avec une sensibilité particulière aux troubles de la communication et aux défis rencontrés par les personnes en situation de handicap.
</p>

<p>
  J’ai pris un peu de distance avec mon métier initial et me suis formée au <strong>développement web</strong> à l’École 19 du réseau 42 et au Wagon en 2024.
  Cette découverte a été passionnante, mais aussi marquante : l’<strong>accessibilité numérique</strong> est encore trop peu abordée et méconnue. Pourtant, elle est essentielle pour garantir un web inclusif.
</p>

<p>
  Ce site a donc pour objectif de <strong>sensibiliser</strong> en proposant une expérience immersive permettant de se mettre à la place de différents utilisateurs confrontés à des obstacles numériques.
</p>

<p>
  Je suis encore <strong>débutante</strong> et ce projet est en constante évolution.
  Je serais ravie d’échanger avec vous pour l’améliorer ! N’hésitez pas à me contacter.
</p>

<p>À bientôt,</p>
<p>Hélène</p>
