<h1>Mentions légales</h1>
<br>
<p>Ce site est un projet personnel développé par HDemanet</p>
<p>Hébergeur : Heroku</p>
<p>Contact : <a href="mailto:demanet.helene@gmail.com">demanet.helene@gmail.com</a></p>
