<h1 style="margin-bottom: 20px;">Mentions légales</h1>
<p>Ce site est un projet personnel développé par HDemanet</p>
<p>Hébergeur : Heroku</p>
<p>Contact : <a href="mailto:demanet.helene@gmail.com">demanet.helene@gmail.com</a></p>
