<% content_for :title, "Mentions légales - Informations légales du site" %>
<% content_for :meta_description, "Retrouvez les mentions légales du site et son hébergeur." %>

<h1 style="margin-bottom: 20px;" id="legal-notice-title">Mentions légales</h1>

<p>Ce site est un projet personnel développé par <strong>HDemanet</strong>, visant à sensibiliser à l’accessibilité numérique.</p>

<h2>Contact</h2>
<p>
  Pour toute question, vous pouvez envoyer un email à
  <a href="mailto:accessnum.site@gmail.com" style="color: #97375d; text-decoration: none;"
       onmouseover="this.style.textDecoration='underline'"
       onmouseout="this.style.textDecoration='none'">accessnum.site@gmail.com</a>.
</p>

<h2>Hébergeur du site</h2>
<p>
  <strong>Nom :</strong> Heroku
  <br><strong>Adresse :</strong> Salesforce, Inc., 415 Mission Street, San Francisco, CA 94105, USA
  <br><strong>Site web :</strong> <a href="https://www.heroku.com" target="_blank" rel="noopener noreferrer" style="color: #97375d; text-decoration: none;"
       onmouseover="this.style.textDecoration='underline'"
       onmouseout="this.style.textDecoration='none'">www.heroku.com</a>
</p>
