<h1 style="margin-bottom: 20px;" id="legal-notice-title">Mentions légales</h1>
<p>Ce site est un projet personnel développé par <strong>HDemanet</strong>.</p>
<p><strong>Hébergeur :</strong> Heroku</p>
<p>
  <strong>Contact :</strong>
  <a href="mailto:" aria-label="Envoyer un e-mail à Hélène"></a>
</p>
